YOUR_GITHUB_USERNAME=your-github-username
APP_SECRET_KEY=change_me_to_a_long_random_secret
TESLAMATE_DB_PASSWORD=change_me_db_password
HA_TOKEN=change_me_home_assistant_token
MQTT_PASSWORD=change_me_mqtt_password
